<!-- @comments.each do |comment| -->
  <div id="<%= dom_id(comment) %>" class="row">

    <%= render 'comments/voting_box', obj: comment %>

    <div class="col-sm-10"> <!-- BEGIN EACH COMMENT COLUMN -->
      <div class="well well-sm post-comment">
        <blockquote>
          <% if comment.flagged? %>
            <h4 class="text-danger">
              <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
              <em>This comment's content has been marked for review.</em>
            </h4>
          <% else %>
            <p><q><%= comment.body %></q> <em><%= post_link(comment) if users_show? || flag? %></em></p> <!-- AppHelper-->
          <% end %>
          <footer>
            <%= link_to comment.creator.username_role, comment.creator, class: 'user-name-role' %> <cite><%= formatted_date_time(comment) %></cite>
          </footer>
          <%= flag_link(comment) if logged_in? && current_user.moderator? %> <!-- AppHelper -->
          <%= render 'comments/voting_box_mobile', obj: comment %>
        </blockquote>
      </div>
    </div> <!-- END EACH COMMENT COLUMN -->

  </div> <!-- END .row -->
<!-- end -->
