<!-- @comments.each do |comment| -->
  <div id="<%= dom_id(comment) %>" class="row">

    <%= render 'comments/voting_box', obj: comment %>

    <div class="col-sm-10"> <!-- BEGIN EACH COMMENT COLUMN -->
      <div class="well well-sm post-comment">
        <blockquote>
          <h4 class="text-danger flagged-item-msg"><%= flagged_item_msg(comment) %></h4> <!-- AppHelper -->
          <p>
            <span class="comment-body"><%= comment_body(comment) %></span> <!-- CommentsHelper -->
          </p>
          <footer class="comment-footer"><%= comment_footer(comment) %></footer> <!-- CommentsHelper -->
        </blockquote>
        <%= render 'comments/voting_box_mobile', obj: comment %>
        <%= flag_link(comment) if logged_in? && current_user.moderator? %> <!-- AppHelper -->
      </div>
    </div> <!-- END EACH COMMENT COLUMN -->

  </div> <!-- END .row -->
<!-- end -->
