<div class="row">
  <div class="col-xs-12">
    <%= form_for [@post, @comment] do |f| %>
      <div class="form-group">
        <%= f.label :body, 'Leave a Comment' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
        <%= link_to 'Back', :back, class: 'btn btn-default' %>
      </div>
    <% end %>
    <hr />
  </div>
</div>
