<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3><strong><%= "#{@user.username}'s Profile" %></strong></h3>
      </div>
      <div class="panel-body">
        <p><strong>Total Posts: </strong><%= @user.posts.count %></p>
        <p><strong>Total Comments: </strong><%= @user.comments.count %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
      </ul>

      <br/>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="posts">
          <%= render @user.posts, show_comments_link: true %>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
          <%= render @user.comments, user_profile_page: true %>
        </div>
      </div>

    </div>
  </div>
</div>
