<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3><strong><%= "#{@user.username}'s Profile" %></strong></h3>
      </div>
      <div class="panel-body table-responsive">
        <table class="table user-profile-table">
          <thead>
            <tr>
              <th>User Type</th>
              <th>Total Posts</th>
              <th>Total Comments</th>
              <th>Time Zone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="user-role"><%= @user.role.titleize %></td>
              <td><%= @user.posts.count %></td>
              <td><%= @user.comments.count %></td>
              <td><%= @user.time_zone %></td>
              <td>
                <%= link_to toggle_moderator_path, method: :post, class: 'btn btn-default btn-xs make-moderator', remote: true do %>
                  <%= @user.moderator? ? "Make User" : "Make Moderator" %>
                <% end %>
                <%= link_to toggle_admin_path, method: :post, class: 'btn btn-default btn-xs make-admin', remote: true do %>
                  <%= @user.admin? ? "Make User" : "Make Admin" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
      </ul>

      <br/>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="posts">
          <%= render @user.posts, show_comments_link: true %>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
          <%= render @user.comments, user_profile_page: true %>
        </div>
      </div>

    </div>
  </div>
</div>
