<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3><strong><%= "#{@user.username}'s Profile" %></strong></h3>
      </div>
      <div class="panel-body table-responsive">
        <table class="table user-profile-table">
          <thead>
            <tr>
              <th>Total Posts</th>
              <th>Total Comments</th>
              <th>Time Zone</th>
              <th>User Type</th>
              <% if current_user && current_user.admin? %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.posts.count %></td>
              <td><%= @user.comments.count %></td>
              <td><%= @user.time_zone %></td>
              <td class="user-role"><%= @user.role.titleize %></td>
              <% if current_user && current_user.admin? %>
                <td id="user-role-selection" class="user-role-selection">
                  <%= render 'user_role_selection' %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
      </ul>

      <br/>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="posts">
          <%= render @user.posts.includes(:categories, :creator).votes_created_desc %>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
          <%= render @user.comments.includes(:post, :creator).votes_created_desc %>
        </div>
      </div>

    </div>
  </div>
</div>
