<% unless obj.empty? %>
  <div class="row">
    <div class="col-xs-12 text-center">
      <nav>
        <ul class="pagination">
          <%= prev_page_link %>
          <%= prev_page_group_link %>
          <% page_links %>
          <%= next_page_group_link %>
          <%= next_page_link %>
        </ul>
      </nav>

      <p><strong>Current Page: <%= params[:page] || 1 %></strong></p>
    </div>
  </div>
<% end %>
