<!-- This mobile/non-mobile code needs to be refactored to avoid dupication -->

<% @posts.each do |post| %>

  <!-- PROBABLY WRONG -->
  <% comment_count = post.comments.count %>

  <div class="row post">
    <span class="hidden-xs"> <!-- BEGIN NON-MOBILE VOTING COLUMN -->
      <div class="col-sm-2">
        <div class="well text-center">
          <p>
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-thumbs-up text-success" aria-hidden="true"></span>
            </button>
          </p>
          <p>
            <h4><span class="label label-primary">0 Votes</span></h4>
          </p>
          <p>
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-thumbs-down text-danger" aria-hidden="true"></span>
            </button>
          </p>
        </div>
      </div>
    </span> <!-- END NON-MOBILE VOTING COLUMN -->
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><strong><%= link_to post.title, post.url %></strong></h3> <!-- POST TITLE -->
          <span class="visible-xs"> <!-- BEGIN MOBILE VOTING BUTTONS -->
            <p class="text-right">
              <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-thumbs-up text-success" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-thumbs-down text-danger" aria-hidden="true"></span>
              </button>
            </p>
            <p class="text-right">
              <label class="label label-primary">0 Votes</label>
            </p>
          </span> <!-- END MOBILE VOTING BUTTONS -->
        </div> <!-- END .panel-heading -->
        <div class="panel-body"> <!-- BEGIN .panel-body -->
          <%= render 'shared/category_buttons', obj: post %>
          <p>
            <%= post.description %>
          </p>
        </div> <!-- END .panel-body -->
        <div class="panel-footer"> <!-- BEGIN .panel-footer -->
          <p>
            <small>Posted by</small> <a href="#"><%= post.creator.username %></a> <small><%= formatted_date_time(post) %></small>
            <%= link_to edit_post_path(post), title: 'Edit Post' do %>
              <small><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></small>
            <% end %>
          </p>
          <p class="text-right">
            <%= link_to post_path(post), class: 'btn btn-primary btn-xs' do %>
              <span class="badge"><%= comment_count %></span> Comments
            <% end %>
          </p>
        </div> <!-- END .panel-footer -->
      </div> <!-- END .panel -->
    </div> <!-- END RIGHT (POSTS) COLUMN -->
  </div> <!-- END .post -->
<% end %>
