<% if @post.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Please fix the following errors:</strong>
        <hr />
        <ul>
          <% @post.errors.each do |field, message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :url, 'URL' %>
          <%= f.text_field :url, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Create Post', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
