<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3>Create a Post</h3>
      </div>
      <div class="panel-body">
        <%= render 'shared/errors', obj: @post %>

        <%= form_for @post do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :url, 'URL' %>
            <%= f.text_field :url, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :category, 'Select Categories' %>
            <%= new_category_link %>
            <div class="checkbox">
              <%= hidden_field_tag "post[category_ids][]", nil %>
              <% Category.all.each do |category| %>
                <%= label_tag dom_id(category) do %>
                  <%= check_box_tag "post[category_ids][]", category.id, @post.category_ids.include?(category.id), id: dom_id(category) %>
                  <%= category.name %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <%= f.submit @post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary' %>
            <%= link_to 'Back', :back, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
