<!-- @post.each do |post| -->
  <div class="row post">

    <div id="<%= dom_id(post) %>_voting_box" class="col-sm-2 hidden-xs"> <!-- BEGIN NON-MOBILE VOTING COLUMN -->
      <%= render 'voting_box', obj: post %>
    </div> <!-- END NON-MOBILE VOTING COLUMN -->

    <div class="col-sm-10"> <!-- BEGIN EACH POST COLUMN -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><strong><%= link_to post.title, post.url %></strong></h3> <!-- POST TITLE -->
          <div id="<%= dom_id(post) %>_voting_box_mobile" class="visible-xs"> <!-- BEGIN MOBILE VOTING COLUMN -->
            <%= render 'voting_box_mobile', obj: post %>
          </div> <!-- END MOBILE VOTING COLUMN -->
        </div> <!-- END .panel-heading -->

        <div class="panel-body"> <!-- BEGIN .panel-body -->
          <%= render 'shared/category_buttons', obj: post %>
          <p>
            <%= post.description %>
          </p>
        </div> <!-- END .panel-body -->

        <div class="panel-footer"> <!-- BEGIN .panel-footer -->
          <p>
            <small>Posted by</small>
            <%= link_to post.creator.username, post.creator %>
            <small><%= formatted_date_time(post) %></small> <!-- AppHelper -->
            <%= edit_post_link(post) %> <!-- PostsHelper -->
          </p>
          <% if show_comments_link %> <!-- Passed as render variable -->
            <p class="text-right">
              <%= link_to post, class: 'btn btn-primary btn-xs' do %>
                <span class="badge"><%= post.comments.size %></span> Comments
              <% end %>
            </p>
          <% end %>
        </div> <!-- END .panel-footer -->
      </div> <!-- END .panel -->

    </div> <!-- END EACH POST COLUMN -->

  </div> <!-- END .row .post -->
<!-- end -->
