<!-- @posts.each do |post| -->
  <div id="<%= dom_id(post) %>" class="row post">

    <%= render 'posts/voting_box', obj: post %>

    <div class="col-sm-10"> <!-- BEGIN EACH POST COLUMN -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><strong><%= link_to post.title, post %></strong></h3> <!-- POST TITLE -->
          <%= render 'posts/voting_box_mobile', obj: post %>
        </div> <!-- END .panel-heading -->

        <div class="panel-body post-body"> <!-- BEGIN .panel-body -->
          <%= render 'shared/category_buttons', obj: post %>
          <span class="flagged-item-msg"><%= flagged_item_msg(post) %></span> <!-- AppHelper -->
          <span class="post-url"><%= post_url(post) %></span> <!-- PostsHelper -->
          <span class="post-description"><%= post_description(post) %></span> <!-- PostsHelper -->
        </div> <!-- END .panel-body -->

        <div class="panel-footer"> <!-- BEGIN .panel-footer -->
          <p>
            <small>Posted by</small>
            <%= link_to post.creator.username_role, post.creator, class: 'user-name-role' %>
            <small><%= formatted_date_time(post) %></small> <!-- AppHelper -->
            <%= edit_post_link(post) %> <!-- PostsHelper -->
          </p>
          <p class="text-right">
            <%= link_to post, class: 'btn btn-primary btn-xs' do %>
              <span class="badge"><%= post.comments_count %></span> Comments
            <% end %>
          </p>
          <%= flag_link(post) if logged_in? && current_user.moderator? %> <!-- AppHelper -->
        </div> <!-- END .panel-footer -->
      </div> <!-- END .panel -->

    </div> <!-- END EACH POST COLUMN -->

  </div> <!-- END .row .post -->
<!-- end -->
