<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><strong><%= link_to @post.title, @post.url %></strong></h3>
      </div>
      <div class="panel-body">
        <%= render 'shared/category_buttons', obj: @post %>
        <p>
          <%= @post.description %>
        </p>
      </div>
      <div class="panel-footer">
        <small>[<%= link_to 'Edit Post', edit_post_path(@post), class: 'text-muted' %>]</small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'shared/errors', obj: @comment %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= form_for [@post, @comment] do |f| %>
      <div class="form-group">
        <%= f.label :body, 'Leave a Comment' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
        <%= link_to 'Back', :back, class: 'btn btn-default' %>
      </div>
    <% end %>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% @post.comments.reload.each do |comment| %>
      <div class="post-comment well well-sm">
        <blockquote>
          <p><%= comment.body %></p>
          <footer><%= link_to comment.creator.username, '#' %> <cite><%= formatted_date_time(comment) %></cite></footer>
        </blockquote>
      </div>
    <% end %>
  </div>
</div>
