<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3>Manage Users</h3>
        <%= form_tag '/admin/users', method: :get, class: 'form-inline' do %>
          <div class="form-group">
            <%= text_field_tag :username, nil, class: 'form-control', placeholder: 'Enter a username' %>
            <%= submit_tag 'Search', class: 'btn btn-primary' %>
            <%= link_to 'Reset', admin_users_path, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Flagged Items</th>
              <th>User Role</th>
              <th>Change Role</th>
              <th>Account Status</th>
              <th>Change Status</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr id="<%= dom_id(user) %>">
                <%= render 'user_details', user: user %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
