<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Postit!</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>

    <%= render 'layouts/navigation' %>

    <div id="main" role="main">
      <div class="container">
         <div id="row1" class="row">
          <div class="col-xs-12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div> <!-- END #ROW1 -->

      </div> <!-- END .CONTAINER -->
    </div> <!-- END #MAIN -->

    <%= render 'layouts/footer' %>

  </body>
</html>
